* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;

}
.loader {
    position: relative;
}
.loader span {
    position: relative;
    display: inline-block;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    animation: animate ease-in-out infinite 2s;
    animation-delay: calc(0.1s * var(--i));
    animation-play-state: paused;
}
.loader:hover span {
    animation-play-state: running;
}
@keyframes animate {
    0%, 40%, 100%{
        transform: translateY(0);
    }
    20% {
        transform: translateY(-50px);
    }
}